.lead {
    font-style:italic;
}

.big-title a {
    text-decoration: none;
    font-size: 150%;
}
.big-title a:hover {
    text-decoration: none;
}

#tuto-faq p[role="presentation"] .glyphicon,
#le-logiciel p[role="presentation"] .glyphicon,
#jardin p[role="presentation"] .glyphicon {
    font-size:50px;
}

/* === Carousel === */
.carousel {
    margin:1em 0 4em;
}

.carousel-inner {
    padding-bottom:75px;
    box-shadow:0px 6px 9px rgba(50, 50, 50, 0.5);
}

.carousel-control.right, .carousel-control.left {
    background-image:none !important;
    color:#eee !important;
}

#play-pause {
    position: absolute;
    margin-top: -100px;
    margin-left: 30px;
    left: 0%;
}

#play-pause a {
    cursor: pointer;
    font-size: 30px;
    z-index: 1000 !important;
    background: #f3f3f3 !important;
    border-radius: 30px;
    color: #767676 !important;
    width: 40px;
    height: 40px;
    padding-left: 2px;
    padding-top: 2px;
    position:absolute !important;
    opacity: 1;
    text-shadow: none;
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.5);
}
#play-pause a:hover {
    color: #555 !important;
}

.carousel a {
    border-bottom: none !important;
}

.carousel-caption {
    background: #f3f3f3 !important;
    bottom: -75px !important;
    color: #333 !important;
    left:0 !important;
    right:0 !important;
    position: absolute !important;
    height: 78px !important;
    text-shadow: none;
    border-top: 1px solid #ddd;
}

.carousel img {
    width: 100%;
    margin: 0;
}
